body{
  font-family: Arial;
  padding:20px;
}

.btn-edit, .btn-save, .btn-close {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color:white;
}

.btn-edit { background:#3b82f6; }
.btn-save { background:#16a34a; }
.btn-close { background:#dc2626; }

.modal {
  display:none;
  position:fixed;
  z-index:9999;
  left:0; top:0;
  width:100%; height:100%;
  background:rgba(0,0,0,0.4);
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:#fff;
  padding:25px;
  border-radius:12px;
  width:350px;
}

.modal-buttons{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
}

.mes-checkbox{
  display:flex;
  align-items:center;
  margin-bottom:6px;
}
